@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.nav-link-wrapper a {
    color: #8a8a;
    text-decoration: none;
    transition: color .5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


.brand div{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
}
.port-img-backround {
    height: 20px;

}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}


.subtitle {
    font-weight: 600;
    color: lightseagreen;
}


.img-dacken {
    transition: 1s;
    filter: brightness(10%);
}

@media (max-width:768px) {
    .portfolio-items-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}